{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row tim-row">
        <div class="col-md-8 col-md-offset-2 ">
            <table id="activities" class="table table-bordered table-striped">
                <thead>
                <th colspan="1" style="border-right: none;"></th>
                <th colspan="5" style="border-left: none;border-right: none;text-align: center;font-size:xx-large;">Activity Entities</th>
                <th colspan="1" style="border-left: none;">{{ activities.paginator.count }} entries</th>
                </thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>PERSON</th>
                    <th>VB</th>
                    <th>ORGANIZATION</th>
                    <th>LOCATION</th>
                    <th>DATE</th>
                </tr>
                {% for activity in activities %}

                        <tr class="{{ tr_class }}">
                            {% for entity in activity %}
                                <td class=" ">{{ entity }}</td>

                            {% endfor %}

                        </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row tim-row">
        <div class="col-md-1 col-md-offset-8" >
            <ul class="pagination">
                {% if activities.has_previous %}
                    <li class="paginate_button"><a href="?page{{ activities.previous_page_number }}"><<</a> </li>
                    <li class="paginate_button"><a href="?page{{ activities.previous_page_number }}">{{ activities.previous_page_number }}</a> </li>
                {% endif %}
                <li class="paginate_button"><a href="#">{{ activities.number }}</a> </li>
            {% if activities.has_next %}
                <li class="paginate_button"><a href="?page{{ activities.next_page_number }}">>></a> </li>
                <li class="paginate_button"><a href="?page{{ activities.next_page_number }}">{{ activities.next_page_number }}</a> </li>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block bodyRear %}
    <script>
$('#result').DataTable()
    </script>
{% endblock %}