{% extends 'blog/base.html' %}
{% block content %}
    <div class="row tim-row">
        <div class="col-md-3">
            <h1>
                helloworld
            </h1>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <input type="text" value="" placeholder="Input" class="form-control"
                />
            </div>
        </div>
    </div>
    <p class="space top"></p>
    <div class="row tim-row">
        <div class="col-md-3">
            <h5>please enter</h5>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <input type="text" value="" placeholder="Input" class="form-control"
                />
            </div>
        </div>
    </div>
{% endblock %}
