{% extends 'blog/base.html'%}
{% load staticfiles %}
{% block content %}
<section id="cd-timeline" class="cd-container">
    {%for post in posts  %}
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="{% static 'timeline/images/cd-icon-picture.svg' %}" alt="Picture">
			</div><!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h1><a href="{% url 'posts_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.introduction|linebreaksbr }}</p>

				<span class="cd-date">{{ post.created_date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
    {% endfor %}

	</section> <!-- cd-timeline -->
{% endblock %}

<!-- end main -->
{% block bodyRear %}
<script>
$(function(){
	var $timeline_block = $('.cd-timeline-block');
	//hide timeline blocks which are outside the viewport
	$timeline_block.each(function(){
		if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
		}
	});
	//on scolling, show/animate timeline blocks when enter the viewport
	$(window).on('scroll', function(){
		$timeline_block.each(function(){
			if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
				$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
			}
		});
	});
});

</script>
{% endblock %}
