{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block headRear %}
    <style>
        pre {
            outline: 1px solid #ccc;
            padding: 5px;
            margin: 5px;
        }

        .string {
            color: green;
        }

        .number {
            color: darkorange;
        }

        .boolean {
            color: blue;
        }

        .null {
            color: magenta;
        }

        .key {
            color: red;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="row tim-row">
        <h1 style="text-align: center;">
            Structured Properties<br>
            <small>from MongoDB</small>
        </h1>
    </div>
    <div class="row tim-row">
        <div id="result" class="col-md-8 col-md-offset-2">
            <pre id="res">

            </pre>
        </div>
    </div>
    <div class="row tim-row">
        <div class="col-md-2 col-md-offset-8">
            <ul class="pagination">
                {% if properties.has_previous %}
                    <li class="paginate_button"><a href="?page{{ properties.previous_page_number }}"><<</a></li>
                    <li class="paginate_button"><a
                            href="?page{{ properties.previous_page_number }}">{{ properties.previous_page_number }}</a>
                    </li>
                {% endif %}
                    <li class="paginate_button"><a href="#">{{ properties.number }}</a></li>
                {% if properties.has_next %}
                    <li class="paginate_button"><a
                            href="?page{{ properties.next_page_number }}">{{ properties.next_page_number }}</a></li>
                    <li class="paginate_button"><a href="?page{{ properties.next_page_number }}">>></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block bodyRear %}
    <script>
        function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
        {% for property in properties %}
            contacts = JSON.parse("{{ property|escapejs }}");
            //contacts = {'fdj': {'djfk': 1, 'fjkfd': 'fdksaj'}, 'fjasljf': 'asjkdfkl'}
            var str = JSON.stringify(contacts, undefined, 4);
            $("#res").append(syntaxHighlight(str) + '<br><br>')
        {% endfor %}

    </script>
{% endblock %}