{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block headRear %}
    <script src="{% static 'sweetalert/lib/sweet-alert.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert/lib/sweet-alert.css' %}">
{% endblock %}
{% block content %}

    <div class="row tim-row">
        <div class="form-group">
            {% csrf_token %}
            <div class="col-md-2">
                <input id="analyse" type="button" value="Analyse" class="btn btn-round btn-success btn-lg"/>
            </div>
            <div class="col-md-10">
                <div class="form-group has-success">

                    <input id="sentence" type="text" placeholder="Input" class="form-control"
                           style="width:%90;height: inherit;font-size: xx-large">
                </div>
            </div>
        </div>
    </div>
    <div id="result" style="display:none">
        <div class="row tim-row">
            <div class="col-md-2">
                <button id="btn_tokenization" onclick="show_result('res_tokenization')"
                        class="btn btn-primary btn-round ">TOKENIZATION
                </button>
            </div>
            <div class="col-md-10">
                <table width="100%">
                    <tr id="res_tokenization" style="display: none">

                    </tr>
                </table>
            </div>
        </div>
        <div class="row tim-row">
            <div class="col-md-2">
                <button id="btn_pos" onclick="show_result('res_pos')"
                        class="btn btn-primary btn-round ">POS
                </button>
            </div>
            <div class="col-md-10">
                <table width="100%">
                    <tr id="res_pos" style="display: none">

                    </tr>
                </table>
            </div>
        </div>
        <div class="row tim-row">
            <div class="col-md-2">
                <button id="btn_ner" onclick="show_result('res_ner')"
                        class="btn btn-primary btn-round ">NER
                </button>
            </div>
            <div class="col-md-10">
                <table width="100%">
                    <tr id="res_ner" style="display: none">

                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div style="height: 1080px"></div>
{% endblock %}
{% block bodyRear %}
    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function show_result(stage) {
            $('#' + stage).fadeToggle()
        }

        $('#analyse').click(function () {
            sentence = $('#sentence').val()
            $.post({
                url: "{% url 'test_process' %}",
                data: {'sentence': sentence},
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (response) {
                    tokens = response['result']['tokens']
                    pos = response['result']['pos']
                    ner_dict = response['result']['ner_dict']
                    $('#res_tokenization').empty()
                    $('#res_pos').empty()
                    $('#res_ner').empty()
                    for (var index in tokens) {
                        $('#res_tokenization').append('<td><h4>' + tokens[index] + '</h4></td>')
                    }
                    for (var index in pos) {
                        $('#res_pos').append('<td><h4>' + pos[index] + '</h4></td>');
                    }
                    for (var index in ner_dict) {
                        $('#res_ner').append('<td><label style="font-size:large">' + ner_dict[index] + '</label><br>' + '<span class="label label-danger " style="font-size:large">' + index + '</span></td>');
                    }
                    swal({
                        title: 'success',
                        text: 'Analysis Accomplished!',
                        type: 'success',
                        confirmButtonText: "show result",
                        showCancelButton: true,

                    }, function () {
                        $('#result').fadeIn();
                        //todo stuff result
                    });
                }
            });

        })
    </script>
{% endblock %}

